.footer-shape {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;
  flex-wrap: wrap;

  &__footer-display {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  &__address-style {
    font-style: normal;
    margin-top: 20px;
  }

  &__margin {
    margin-top: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-shape__footer-display {
    flex-direction: row;
  }
}

// .footer-shape {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: $background-color;

//   &__footer-display {
//     display: flex;
//   }

//   &__address-style {
//     font-style: normal;
//     margin-top: 20px;
//   }

//   &__margin {
//     margin-top: 9px;
//   }
// }
