.index-img-style {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &__paragraph-structure {
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
  }
  &__icon-position {
    display: flex;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    justify-content: center;
  }

  &__ellypse {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #afb1b8;
  }
  &__ellypse:hover {
    background-color: $fifth-color;
    cursor: pointer;
    border-radius: 50%;
    fill: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .index-img-style__icon-position {
    justify-content: space-between;
  }
  .index-img-style {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

// .index-img-style {
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;

//   &__paragraph-structure {
//     padding-bottom: 16px;
//   }
//   &__ellypse {
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1);
//     fill: #afb1b8;
//   }
//   &__ellypse:hover {
//     background-color: $fifth-color;
//     cursor: pointer;
//     border-radius: 50%;
//     fill: #ffffff;
//   }
// }

// &__icon-position {
//   display: flex;
//   padding-bottom: 30px;
//   padding-left: 32px;
//   padding-right: 32px;
//   align-items: center;
//   justify-content: space-between;
// } dodaj to
