.logo {
  font-family: "Raleway";
  color: $main-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  &__footer-logo {
    color: $third-color;
    padding-top: 60px;
  }

  &__brand-color {
    color: $fifth-color;
  }
}
