.our-clients {
  margin-left: 15px;

  &__padding {
    padding: 60px 15px;
    text-align: center;
  }
  &__display {
    list-style: none;
    align-items: normal;
    align-items: stretch;
    gap: 30px;
    flex-wrap: wrap;
    text-align: left;
  }

  &__clients {
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    border-color: #afb1b8;
    padding: 16px 32px;
    fill: #afb1b8;
  }

  &__clients:hover {
    border-color: $fifth-color;
    cursor: pointer;
    fill: $fifth-color;
  }

  &__clients:focus {
    border-radius: 50%;
    color: fifth-color;
  }

  &__size {
    width: 106;
    height: 60.04;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients__display {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .our-clients__padding {
    padding-bottom: 94px;
  }

  .our-clients {
    margin-top: 94px;
  }
  .our.clients__clients {
    width: 170px;
  }
}

// .our-clients {
//   margin-top: 94px;

//   &__padding {
//     padding-bottom: 94px;
//   }
//   &__display {
//     display: flex;
//     list-style: none;
//     align-items: center;
//     gap: 30px;
//   }

//   &__clients {
//     width: 170px;
//     height: 92px;
//     border: 1px solid #afb1b8;
//     border-radius: 4px;
//     border-color: #afb1b8;
//     padding: 16px 32px;
//     fill: #afb1b8;
//   }

//   &__clients:hover {
//     border-color: $fifth-color;
//     cursor: pointer;
//     fill: $fifth-color;
//   }

//   &__clients:focus {
//     border-radius: 50%;
//     color: fifth-color;
//   }

//   &__size {
//     width: 106;
//     height: 60.04;
//   }
// }
