$main-color: #212121;
$second-color: #757575;
$background-color: #2f303a;
$third-color: #ffffff;
$fourth-color: rgba(255, 255, 255, 0.6);
$fifth-color: #2196f3;
$sixth-color: #e5e5e5;
$seventh-color: #f5f4fa;
